
div.figura2 {
//    background-color: rgb(236, 236, 236);
    cursor: pointer;
    width: 100%;
    height: auto;
    //    border: thin silver solid;
  }
  #texto{
    text-align: center;
    font-style: normal;
    font-size: large;
    text-indent: 0;
  }